header{
  border: 1px solid blue;
}

.logo{
  border: 1px solid green;
}

.content{
  border: 1px solid black;
}

.column.large{
  border: 1px solid yellow;
}

.column.medium{
  border: 1px solid red;
}

.column.small{
  border: 1px solid purple;
}
